pitchr.com.ng {
    reverse_proxy /api* localhost:5001
    reverse_proxy localhost:3000
}

api.pitchr.com.ng {
    reverse_proxy localhost:5001
}

www.pitchr.com.ng {
    redir https://pitchr.com.ng{uri} permanent
}
